*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/javalib/build/
/processorTest/build/
/.idea/
/buildSrc/build/
/.idea/codeStyles/
/modulea/build/
/moduleb/build/
